@import "foundation/reset";
@import "foundation/mixin";
@import "foundation/variable.scss";

@import "foundation/base";
@import "object/project/hamburger";
@import "object/project/header";
@import "object/project/hero";
@import "object/project/global__menu";
@import "object/project/blog";
@import "object/project/box";
@import "object/project/service";
@import "object/project/about";
@import "object/project/works";
@import "object/project/recruit";
@import "object/project/contact";
@import "object/project/footer";
@import "object/project/loding";

.ribbon {
  display: none;
  @include breakpoint(tablet) {
    position: relative;
    background: #182848;
    padding: 1em;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 119px;
      // width:0;
      // height:0;
      // border-style: solid;
      border-color: transparent red transparent transparent;
      // border-width: 0px 10px 60px 90px;
      // border-width: 60px 50px 0px 0px;
      // border-width: 10px 60px 60px 80px;
      // border-width: 0px -90px 10px 50px;
      width: 0;
      height: 0;
      border-right: 54px solid transparent;
      border-top: 60px solid #182848;
    }
  }
}

.ribbon-03 {
  display: none;
  @include breakpoint(tablet) {
    display: block;
    position: relative;
    background: #182848;
    padding-top: 27px;
    padding-left: 15px;
    width: 70px;
    height: 60px;
  }
}
.ribbon-03:after {
  content: "";
  position: absolute;
  top: 0;
  left: -49px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #182848 transparent transparent;
  // border-width: 0 30px 50px 0;
  border-width: 60px 50px 0px 0px;
}
.stickarrow {
  width: 18px;
  height: 5px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: skew(45deg);
}
.c-button {
  display: block;
}
.u-br {
  @include breakpoint(tablet) {
    display: none;
  }
}
// .slide-img img{
//   overflow: hidden;
//   backface-visibility: hidden;
//  height: 600px;
//  width: 500px;

// }
// .slide-img img {
//   object-fit: cover;
//   width: 100%;
//   // height: 600px;
//   // display: none !important;
//   .c-img2 {
//     visibility:hidden;
//   }
//   @include breakpoint(pc) {
//     height: 1079px;
//   }
// }
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  // animation: zoomUp 10s linear 0s 1 normal both;
}
// .slide-img {
//   display: block;
//   // height: 2000px;
//   // width: 2000px;
//   // height: 688px;
//   // width: 500px;

//   img {
//     height:500px;
//     overflow: hidden;
//     // object-fit: cover;
//     width: 100%;
//   }
// }

.slide-img img {
  // object-fit: cover;
  width: 100%;
  height: 611px;
  object-fit: cover;
  margin-top: 56px;
  // object-position: 20% 30%;
  object-position: 20%;
  // object-position:0;
  // object-position: right 80% top 60%;
  // overflow-y: hidden;
  @include breakpoint(tablet) {
    margin-top: 80px;
    height: 688px;
    // height: 100%;
    width: 100%;
  }
}

.contents {
  width: 100%;
  height: 100vh;
  text-align: center;
  h1 {
    font-size: 40px;
  }
}
