.p-about {
  @extend.p-service;
  padding-bottom: 0;
  padding-left: 0;
  @include breakpoint(tablet) {
    display: block;
  }
  &__inner {
    @extend.p-service__inner;
    @include breakpoint(tablet) {
      background-color: #fff;
      width: 100%;
    }
    img {
      padding: 0 20px;
      @include breakpoint(tablet) {
       padding: 0;
      }
    }
    @include breakpoint(tablet) {
      height: 656px;
      // margin-top: 40px;
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-top: 0;
        object-fit: cover;
        position: relative;
        margin-top: 40px;
      }
    }
  }
  &__wrap {
    @extend.p-service__wrap;

    img {
      display: none;
      @include breakpoint(tablet) {
        display: block;
        height: 122px;
        width: 100%;
        object-fit: cover;
        padding-right: 48px;
        margin-top: 32px;
      }
    }
    @include breakpoint(tablet) {
      padding-left: 49px;
      width: 503px;
      position: absolute;
      top: 7%;
      z-index: 100;
      height: 576px;
      margin-top: 40px;
      left: 13%;
    }
    .p-bg {
      @include breakpoint(tablet) {
        display: none;
      }
    }
    .c-button__main {
      @include breakpoint(tablet) {
        // margin-top: 40px;
        height: 64px;
        margin: 0
        
      }
    }
  }
  &__title {
    @extend.p-service__title;
    @include breakpoint(tablet) {
      margin-top: 0;
      padding: 0;
    }
    h2 {
      @include breakpoint(tablet) {
        margin-top: 48px;
      }
    }
  }
  p {
  
    br {
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }
    @include breakpoint(tablet) {
      margin-top: 32px;
      margin-bottom: 36px;
      padding: 0;
    }
  }
}
